@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
  box-sizing: border-box; }

.page-header {
  width: 400px;
  margin: auto;
  font-family: "Open Sans", Sans; }

.page-header h1 {
  font-size: 60px;
  text-align: center; }

.page-header h2, .page-header h3 {
  text-align: right; }

.entries {
  width: 60%;
  margin: auto;
  margin-top: 50px; }

.entry {
  clear: both;
  margin-top: 50px; }

.entry .entry-date {
  font-family: "Open Sans", Sans;
  font-size: 20px;
  float: right; }

.entry > div > h2 {
  padding-left: 40px;
  font-size: 35px;
  font-family: "Open Sans", Sans; }

.entry p, .entry ul {
  margin: 20%;
  margin-top: 20px;
  margin-bottom: 0px; }

.entry p, .entry li {
  font-family: "Open Sans", Sans;
  font-weight: light; }

.entry code {
  background-color: #F9F2F4;
  color: #C7254E;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace; }
